@{
    Layout = "_Layout";
}

@section styles
{
    <link href="~/css/webflow-style.css" rel="stylesheet" type="text/css" />
}

<head>
    <title>Project</title>
</head>

<div class="breadcrumb-section">
    @{
        Html.RenderPartial("Menu/_MainMenu");
    }
    <div class="container w-container">
        <div class="breadcrumb-wrapper">
            <h1 class="breadcrumb-title">Our Projects</h1>
            <div class="breadcrumb-link-block">
                <a href="/" class="breadcrumb-backlink">Home</a>
                <div class="line-shape-block"></div>
                <div class="current-page-name">Projects</div>
            </div>
        </div>
    </div>
</div>

<div class="project-page-section">
    <div class="container w-container">
        <div class="project-masonry-wrapper w-dyn-list">
            <div role="list" class="project-masonry-list w-dyn-items">
                <div role="listitem" class="w-dyn-item">
                    <div data-w-id="68b7f803-cd65-9c56-fbaa-c10f56665aa8"
                         class="single-progect-inner">
                        <a href="#" class="w-inline-block w-lightbox">
                            <div class="image-wrapper animate-in">
                                <div class="image-overlay"></div>
                                <img alt="Slider Image"
                                     loading="lazy"
                                     src="~/images/project-7.jpg"
                                     class="media-fit-image" />
                            </div>
                            <script type="application/json" class="w-json">
                                {
                                  "items": [
                                    {
                                      "url": "~/images/7-1.jpg",
                                      "type": "image"
                                    }
                                  ],
                                  "group": "Project Feature Image"
                                }
                            </script>
                        </a><a style="
                opacity: 0;
                -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 0)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 0)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 0)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(0, 0, 0)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform-style: preserve-3d;
              "
                               href="/project/drowning-room-designs"
                               class="button-primary position-absulate">Learn more</a>
                    </div>
                </div>
                <div role="listitem" class="w-dyn-item">
                    <div data-w-id="68b7f803-cd65-9c56-fbaa-c10f56665aa8"
                         class="single-progect-inner">
                        <a href="#" class="w-inline-block w-lightbox">
                            <div class="image-wrapper animate-in">
                                <div class="image-overlay"></div>
                                <img alt="Slider Image"
                                     loading="lazy"
                                     src="~/images/02-1.jpg"
                                     class="media-fit-image" />
                            </div>
                            <script type="application/json" class="w-json">
                                {
                                  "items": [
                                    {
                                      "url": "~/images/project-thumb-3.jpg",
                                      "type": "image"
                                    }
                                  ],
                                  "group": "Project Feature Image"
                                }
                            </script>
                        </a><a style="
                opacity: 0;
                -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 0)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 0)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 0)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(0, 0, 0)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform-style: preserve-3d;
              "
                               href="/project/bed-room-design"
                               class="button-primary position-absulate">Learn more</a>
                    </div>
                </div>
                <div role="listitem" class="w-dyn-item">
                    <div data-w-id="68b7f803-cd65-9c56-fbaa-c10f56665aa8"
                         class="single-progect-inner">
                        <a href="#" class="w-inline-block w-lightbox">
                            <div class="image-wrapper animate-in">
                                <div class="image-overlay"></div>
                                <img alt="Slider Image"
                                     loading="lazy"
                                     src="~/images/03-1.jpg"
                                     class="media-fit-image" />
                            </div>
                            <script type="application/json" class="w-json">
                                {
                                  "items": [
                                    {
                                      "url": "~/images/project-thumb-6.jpg",
                                      "type": "image"
                                    }
                                  ],
                                  "group": "Project Feature Image"
                                }
                            </script>
                        </a><a style="
                opacity: 0;
                -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 0)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 0)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 0)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(0, 0, 0)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform-style: preserve-3d;
              "
                               href="/project/modern-store-design"
                               class="button-primary position-absulate">Learn more</a>
                    </div>
                </div>
                <div role="listitem" class="w-dyn-item">
                    <div data-w-id="68b7f803-cd65-9c56-fbaa-c10f56665aa8"
                         class="single-progect-inner">
                        <a href="#" class="w-inline-block w-lightbox">
                            <div class="image-wrapper animate-in">
                                <div class="image-overlay"></div>
                                <img alt="Slider Image"
                                     loading="lazy"
                                     src="~/images/04-1.jpg"
                                     class="media-fit-image" />
                            </div>
                            <script type="application/json" class="w-json">
                                {
                                  "items": [
                                    {
                                      "url": "~/images/project-thumb-1-1.jpg",
                                      "type": "image"
                                    }
                                  ],
                                  "group": "Project Feature Image"
                                }
                            </script>
                        </a><a style="
                opacity: 0;
                -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 0)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 0)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 0)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(0, 0, 0)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform-style: preserve-3d;
              "
                               href="/project/modern-kitchen-design"
                               class="button-primary position-absulate">Learn more</a>
                    </div>
                </div>
                <div role="listitem" class="w-dyn-item">
                    <div data-w-id="68b7f803-cd65-9c56-fbaa-c10f56665aa8"
                         class="single-progect-inner">
                        <a href="#" class="w-inline-block w-lightbox">
                            <div class="image-wrapper animate-in">
                                <div class="image-overlay"></div>
                                <img alt="Slider Image"
                                     loading="lazy"
                                     src="~/images/05-1.jpg"
                                     class="media-fit-image" />
                            </div>
                            <script type="application/json" class="w-json">
                                {
                                  "items": [
                                    {
                                      "url": "~/images/project-thumb-2.jpg",
                                      "type": "image"
                                    }
                                  ],
                                  "group": "Project Feature Image"
                                }
                            </script>
                        </a><a style="
                opacity: 0;
                -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 0)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 0)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 0)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(0, 0, 0)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform-style: preserve-3d;
              "
                               href="/project/modern-office-designs"
                               class="button-primary position-absulate">Learn more</a>
                    </div>
                </div>
                <div role="listitem" class="w-dyn-item">
                    <div data-w-id="68b7f803-cd65-9c56-fbaa-c10f56665aa8"
                         class="single-progect-inner">
                        <a href="#" class="w-inline-block w-lightbox">
                            <div class="image-wrapper animate-in">
                                <div class="image-overlay"></div>
                                <img alt="Slider Image"
                                     loading="lazy"
                                     src="~/images/06.jpg"
                                     class="media-fit-image" />
                            </div>
                            <script type="application/json" class="w-json">
                                {
                                  "items": [
                                    {
                                      "url": "~/images/project-thumb-5.jpg",
                                      "type": "image"
                                    }
                                  ],
                                  "group": "Project Feature Image"
                                }
                            </script>
                        </a><a style="
                opacity: 0;
                -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 0)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 0)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 0)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(0, 0, 0)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform-style: preserve-3d;
              "
                               href="/project/space-planing-design"
                               class="button-primary position-absulate">Learn more</a>
                    </div>
                </div>
                <div role="listitem" class="w-dyn-item">
                    <div data-w-id="68b7f803-cd65-9c56-fbaa-c10f56665aa8"
                         class="single-progect-inner">
                        <a href="#" class="w-inline-block w-lightbox">
                            <div class="image-wrapper animate-in">
                                <div class="image-overlay"></div>
                                <img alt="Slider Image"
                                     loading="lazy"
                                     src="~/images/7.jpg"
                                     class="media-fit-image" />
                            </div>
                            <script type="application/json" class="w-json">
                                {
                                  "items": [
                                    {
                                      "url": "~/images/project-thumb-4.jpg",
                                      "type": "image"
                                    }
                                  ],
                                  "group": "Project Feature Image"
                                }
                            </script>
                        </a><a style="
                opacity: 0;
                -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 0)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 0)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 0)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(0, 0, 0)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform-style: preserve-3d;
              "
                               href="/project/modern-restaurant-design"
                               class="button-primary position-absulate">Learn more</a>
                    </div>
                </div>
                <div role="listitem" class="w-dyn-item">
                    <div data-w-id="68b7f803-cd65-9c56-fbaa-c10f56665aa8"
                         class="single-progect-inner">
                        <a href="#" class="w-inline-block w-lightbox">
                            <div class="image-wrapper animate-in">
                                <div class="image-overlay"></div>
                                <img alt="Slider Image"
                                     loading="lazy"
                                     src="~/images/8.jpg"
                                     class="media-fit-image" />
                            </div>
                            <script type="application/json" class="w-json">
                                {
                                  "items": [
                                    {
                                      "url": "~/images/project-thumb-3.jpg",
                                      "type": "image"
                                    }
                                  ],
                                  "group": "Project Feature Image"
                                }
                            </script>
                        </a><a style="
                opacity: 0;
                -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 0)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 0)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 0)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(0, 0, 0)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform-style: preserve-3d;
              "
                               href="/project/schematic-design"
                               class="button-primary position-absulate">Learn more</a>
                    </div>
                </div>
                <div role="listitem" class="w-dyn-item">
                    <div data-w-id="68b7f803-cd65-9c56-fbaa-c10f56665aa8"
                         class="single-progect-inner">
                        <a href="#" class="w-inline-block w-lightbox">
                            <div class="image-wrapper animate-in">
                                <div class="image-overlay"></div>
                                <img alt="Slider Image"
                                     loading="lazy"
                                     src="~/images/9.jpg"
                                     class="media-fit-image" />
                            </div>
                            <script type="application/json" class="w-json">
                                {
                                  "items": [
                                    {
                                      "url": "~/images/project-thumb-6.jpg",
                                      "type": "image"
                                    }
                                  ],
                                  "group": "Project Feature Image"
                                }
                            </script>
                        </a><a style="
                opacity: 0;
                -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 0)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 0)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 0)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(0, 0, 0)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform-style: preserve-3d;
              "
                               href="/project/modern-home-design"
                               class="button-primary position-absulate">Learn more</a>
                    </div>
                </div>
            </div>
            <div role="navigation"
                 aria-label="List"
                 class="w-pagination-wrapper pagination">
                <a href="?2c150d94_page=2"
                   aria-label="Next Page"
                   class="w-pagination-next button-primary">
                    <div class="w-inline-block">Next</div>
                    <svg class="w-pagination-next-icon"
                         height="12px"
                         width="12px"
                         xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 12 12"
                         transform="translate(0, 1)">
                        <path fill="none"
                              stroke="currentColor"
                              fill-rule="evenodd"
                              d="M4 2l4 4-4 4"></path>
                    </svg>
                </a><link rel="prerender" href="?2c150d94_page=2" />
            </div>
        </div>
    </div>
</div>